{% extends "base.html" %}
{% load static %}
{% block content %}
	<section id="singUpConsultation">
		<div class="container">
			<div class="singUpConsultation">
			  {% if mark %}
				<div class="title">Отлично, скоро с вами свяжемся. А пока можете присмотреть что-нибудь из готовой коллекции</div>
				<button class="btn singUpConsultation__form_btn" onclick="window.location.href='{% url "shop:catalog" %}'">Посмотреть</button>
			  {% else %}
				<form action="#" class="singUpConsultation__form" method="post">
					<div class="title">Запись на консультацию</div>
					{% for field in form %}
					  {% if field.name == 'checkbox' %}
					    <div class="chekbox fic">
							{{ field }}	<span class="chekbox__intro">{{ field.label_tag }}</span>
						</div>
					  {% else %}
					      {{ field }}
					  {% endif %}
					{% endfor %}
					{% csrf_token %}
					<button class="btn singUpConsultation__form_btn" type="submit">Отправить</button>	
				</form>
			  {% endif %}
				<div class="blockImgHiden"></div>
			</div>
		</div>
		<img src="{% static "img/singUpConsultationImg.jpg" %}" alt="singUpConsultationImg" class="singUpConsultation__img">
	</section>
{% endblock %}
