{% extends "base.html" %}
{% load static %}
	{% block banner %}
		<section id="banner">
			<div class="container">
				<div class="banner">
					<div class="banner__block">
						<h1 class="banner__title">Мастерская цветов</h1>
						<p class="banner__text">Подберем для вас букет за два шага, который идеально подойдет под вашу ситуацию</p>
						<button class="btn banner__btn" onclick="location.href='{% url 'shop:quiz' %}'">Подобрать букет</button>
					</div>
					<img src="{% static "img/bannerImg.png" %}" alt="banner Img" class="banner__img">
				</div>
			</div>
		</section>
	{% endblock %}
	{% block content %}
	  <section id="recommended">
		<div class="container">
			<img src="{{ bouquet.photo.url }}">
			<div class="recommended p100">
				<div class="title">Рекомендуем</div>
				  <div class="recommended__elems ficb">
				  {% for bouquet in recomendations %}
				  	<a class="recommended__block" style="background: url('{{ bouquet.photo.url }}'); display: block;" href="{% url "shop:card" bouquet.id %}">
				      <div class="recommended__block ficb">
						<span class="recommended__block_intro">{{ bouquet.name }}</span>
						<span class="recommended__block_price">{{ bouquet.price }} руб</span>
					  </div>
					</a>
				  {% endfor %}
				</div>
				<button class="btn recommended__btn" onclick="window.location.href='{% url "shop:catalog" %}';">Показать всю коллекцию</button>
			</div>
		</div>
	  </section>
	{% endblock %}
	{% block contacts %}
	  {% include "contacts.html" %}
	{% endblock %}
	{% block consultation %}
	  {% include "block-consultation.html" %}
	{% endblock %}
